extends ../base

block content
      section
        h1.main__heading Статьи
        .preloader
          img(src='assets/gif/load.gif' alt='preloader')
          |
          | Загрузка...

        .articles-list.
          
          
        .preloader-error(hidden).
          
          "⚠ Что-то пошло не так"
