footer.footer
    span.footer__load-time
    |  (клиент) +
    |  #{serverTime} мс (сервер)
    span.footer__copyright  © 2023 «Рыбач»
    a.footer__telegram-link(href="https://t.me/lifestailtg") Telegram